html, body{
  min-width: 100%;
  max-width: 100%;
}
*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    max-width: 100%;
    
}
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}


input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  text-decoration: none;
}
